@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');

.main-container{
	height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: linear-gradient(20deg, #c850c0, #4158d0);
}

.main-content{
	border: 2px solid white;
	border-radius: 30px;
    align-items: center;
    background: #fff;
    width: 1000px;
    margin: auto;
	box-shadow: 10px 10px 20px rgba(255,255,255,0.2), 
				10px 10px 20px rgba(0,0,0,0.1);
}

/*----------LOGIN----------*/

.login-logo img{
	width: 500px;
    height: 300px;
}

.login-form{
	text-align: center;
}

.login-form form,
.register-form form{
	padding: 0 15px;
}

.login-form form img{
	margin: 1rem 0;
    width: 140px;
}

.login-form form h3{
	color: #333;
    font-size: 2rem;
}

.login-form-input{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-form-input input{
	height: 50px;
	outline: none;
	padding: 0 10px 0 45px;
	border: 3px solid #dadce0;
	border-radius: 30px;
	transition: all 0.2s ease-in-out;
}

.login-form-input label{
	position: absolute;
	left: 45px;
	font-size: 1rem;
	padding: 0 5px;
	top: 50%;
	pointer-events: none;
	transform: translateY(-50%);
	background: #fff;
	color:#adadad;
	transition: all 0.2s ease-in-out;
}

.login-form-input.reset-password label{
    left: 20px;
}

.login-form-input i{
	position: absolute;
	font-size: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	pointer-events: none;
}

.login-form-input div{
	position: absolute;
	text-align: start;
	margin: auto;
	left: 10px;
}

.login-form-input input:focus{
	border: 3px solid #4158d0;
}

.login-form-input input:focus + i + label,
.login-form-input input:valid + i + label,
.login-form-input.reset-password input:focus + label,
.login-form-input.reset-password input:valid + label{
	top: 0px;
	font-size: 13px;
	font-weight: 500;
	color: #4158d0;
}

.login-form form a,
.register-form form a{
    display: block;
	text-align: end;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.login-form form a:hover,
.register-form form a:hover{
	color: #4158d0;
}

.login-form-button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.login-form-button.login-btn{
	background-image: linear-gradient(to right, #c850c0, #4158d0, #c850c0);
}

.login-form-button.register-btn{
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}

.login-form-button:hover{
	background-position: right;
}

/*---------- REGISTER ----------*/
.register-logo{
    font-size: 2rem;
	position: relative;
	padding: 0 15px;
}

.register-logo::before{
    content: "";
	position: absolute;
	left: 15px;
	bottom: 0;
	height: 3px;
	width: 40px;
	background: #9b59b6;
}

.register-form-input .register-input,
.register-form-input .register-image{
	margin: 15px auto auto auto;
}

.register-form-input .register-image img{
	position: relative;
	display: block;
	max-width: 100%;
	max-height: 250px;
	margin: auto;
}

.register-form-input .register-image figcaption{
	/* margin: auto auto 5px auto; */
	text-align: center;
	color: #2a292a;
}

.register-form-input .register-image input{
	display: none;
}

.register-form-input .register-image span{
	display: block;
	position: relative;
	background-color: #025bee;
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	border-radius: 5px;
	margin: auto;
	cursor: pointer;
}

.register-form-input .register-image span:hover{
	background-color: #3742fa;
}

.register-form-check{
	/* display: block; */
	padding: 15px 0 15px 0;
}

.register-form-check input{
	appearance: none;
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	background-color: #d5d5d5;
	border-radius: 5px;
	cursor: pointer;
}

.register-form-check label{
	cursor: pointer;
	/* position: absolute; */
	padding: 10px 7px;
	display: inline;
}

/*---------- MEDIA ----------*/

@media only screen and (max-width: 1000px){
	.main-content{
		width: 600px;
	}

	.register-form .register-form-input{
		max-height: 400px;
		overflow-y: scroll;
	}
}

@media only screen and (max-width: 580px){
	.main-content{
		width: 300px;
	}

	.register-form .register-form-input{
		max-height: 300px;
		overflow-y: scroll;
	}
}

@media only screen and (max-height: 720px){
	.register-form .register-form-input{
		max-height: 480px;
		overflow-y: scroll;
	}
}



